p, h1, ul,li {
  color: white;
}
#top {
	font-weight: bold;
	font-style: italic;
}
#classLink {
	text-decoration: underline;
}
body {
  background-color: black;
}

a:link, a:visited {
  color: white;
}
